.portfolio-title {
  color: white;
  font-size: 8rem;
  text-shadow: 10px 10px 6px #39435c;
  text-align: center;
}

.my-name {
  color: white;
  font-size: 4rem;
  display: none;
}

.my-name-container {
  width: 560px;
  height: 0px;
  background-color: #39435c;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.5s ease-out;
}

.principal-container {
  cursor: pointer;
}

.principal-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.icons {
  height: 26px;
  width: 26px;
}

.menu {
  display: none;
  height: 26px;
  width: 418px;
  justify-content: space-evenly;
  color: white;
  position: absolute;
  right: 5%;
  top: 15%;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

a {
  align-self: center;
  text-decoration: none;
  color: white;
}

header {
  width: 100%;
  height: 12rem;
  background: linear-gradient( 180deg, rgba(0, 102, 116, 1) 0%, rgba(84, 157, 166, 1) 100%);
  position: absolute;
  z-index: 100;
}

.title {
  display: none;
  font-size: 5rem;
  color: white;
  text-shadow: 6px 6px 6px #39435c;
  text-align: center;
  position: relative;
  top: 58.5%;
}

section {
  display: none;
  padding-top: 12rem;
}

.concept-container {
  width: 966px;
  height: 151px;
  color: #39435c;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 100px auto;
}

.unit {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.unit-container {
  width: 300px;
  height: 300px;
  background-color: #39435c;
  border-radius: 30px;
  background-image: url(../images/1.png);
  background-size: contain;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 3px 6px #39435c;
  cursor: pointer;
}

.unit-title-container {
  width: 100%;
  height: 48px;
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #39435c;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unit1 {
  transition: transform box-shadow;
  transition-duration: 0.5s;
}

.unit2 {
  background-image: url(../images/2.png);
  transition: transform box-shadow;
  transition-duration: 0.5s;
}

.unit1:hover {
  transform: scale(1.05);
  box-shadow: 9px 12px 6px #39435c;
}

.unit2:hover {
  transform: scale(1.05);
  box-shadow: 9px 12px 6px #39435c;
}

footer {
  display: none;
  width: 100%;
  height: 12rem;
  background: linear-gradient( 0deg, rgba(0, 102, 116, 1) 0%, rgba(84, 157, 166, 1) 100%);
  margin-top: 100px;
}